<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">Peliculas App</h1>
    <p class="lead">Aplicación de peliculas</p>
  </div>
</div>

<div class="container">
  <app-galeria
    [peliculas]="cartelera | slice: 0:6"
    titulo="Cartelera"
  ></app-galeria>
  <br />
  <div class="card-columns">
    <app-pelicula-card
      [pelicula]="pelicula"
      from="home"
      *ngFor="let pelicula of cartelera | slice: 0:6; let i = index"
    ></app-pelicula-card>
  </div>
</div>

<div class="container">
  <app-galeria
    [peliculas]="infantiles | slice: 0:6"
    titulo="Infantiles"
  ></app-galeria>
  <br />
  <div class="card-columns">
    <app-pelicula-card
      [pelicula]="pelicula"
      from="home"
      *ngFor="let pelicula of infantiles | slice: 0:6; let i = index"
    ></app-pelicula-card>
  </div>
</div>

<div class="container">
  <app-galeria
    [peliculas]="populares | slice: 0:6"
    titulo="Populares"
  ></app-galeria>
  <br />
  <div class="card-columns">
    <app-pelicula-card
      [pelicula]="pelicula"
      from="home"
      *ngFor="let pelicula of populares | slice: 0:6; let i = index"
    ></app-pelicula-card>
  </div>
</div>
